

#i {
    position: fixed;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 35px;
    border: none;
    border-radius: 10px;
    /* border-image: linear-gradient(to bottom, #A9C9FF 0%, #FFBBEC 100%); */
    /* border-image: linear-gradient(to bottom, #A9C9FF, #FFBBEC) 1 100%; */
    
    padding: 30px 60px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    box-shadow: #1c214131 0px 10px 20px;
    color: whitesmoke;
}

#output {
    font-size: 45px;
    background: linear-gradient(123deg, #FEE140 0%, #FA709A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: #1c2141cb 0px 10px 20px; */
    padding: 15px;
}
#o {
    background: rgb(245, 233, 255);
    border-radius: 10000px;
    position: fixed;
    top: 60vh;
    left: 50vw;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: #1c214131 0px 10px 20px;
}

#b {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    position: fixed;
    top: 45vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 35px;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    padding: 20px 70px;  
    box-shadow: #1c21417c 0px 10px 20px;
}
#b:hover {
    box-shadow: #1c21417c 0px 15px 20px;
    transform: translate(-50%, -5px);
}
#b:active {
    box-shadow: #1c21417c 0px 18px 20px;
    transform: translate(-50%, -2px);
    padding: 20px 100px;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

* {
    margin: 0;
    padding: 0;
    transition: 750ms ease;
    outline: none;
    font-family: 'Ubuntu Mono', monospace;
}